<!DOCTYPE html>
<html>
<head>
<title>Resume</title>
</head>
<header><center><h1>Resume</h1></center></header>
<body>
<h2>Personal Information</h2>
<ul>
<li>Name</li>
<input type="text" name="t1" id="" ng-model="name" minlength="3" maxlength="8" required>
<class="error" ng-show="f1.t1.$touched && f1.t1.$invalid">this is required
<li>Date of Birth</li>
<label for="start"></label>
<input type="date" id="start" name="trip-start"
value="YYYY-MM-DD">
<li>Residential address</li>
<input placeholder="Address">
<li>Email</li>
<form> <label for="email"></label> 
  <input type="email" name="t2" id="" ng-model="email" required>
  <class="error" ng-show="f1.t2.$touched && f1.t2.$invalid">this is required </form>

<li>Phone Number</li>
<label for="phone"></label>
<input type="tel" id="phone" name="phone"
pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
required></ul> <h2>Skills</h2>
<p>
<ul>
<li>Currently going through CS253 – Web Application Engineering
and CS61A – Structure & Interpretation of Computer Programs</li>
<li>Learnt basic Python, JavaScript, HTML, CSS on
Codecademy.com.</li>
</p></ul>
<h2>Educational Qualifications</h2>
<table>
<table border="1">
<tr id="heading">

<td>Qualification</td>
<td>Board</td>
<td>Percentage / Grades</td>
<td>Year</td>
</tr>
<tr>
<td>10 th</td>
<td>ICSE</td>
<td>86</td>
<td>2018</td>
</tr>
<tr>
<td>Intermediate</td>
<td>Andhra pradesh</td>
<td>97</td>
<td>2020</td>
</tr>
<tr>
<td>Undergraduate</td>
<td>SRM Institute of Science and Technology</td>
<td>9.43</td>
<td>2024</td>
</tr>
<tr>
<td>Postgraduate</td>
<td>SRM Institute of Science and Technology</td>
<td>9.57</td>
<td>2026</td>
</tr>
</table>
<h2>Projects Done</h2>
<input placeholder="No.of projects done">
<h2>Independent Courses</h2>
<p>
<ul>
<li>
<span id="course-name">HTML & CSS for Beginners – Web
Fundamentals</span> – Codecademy.com</li>
<li>
<span id="course-name">Python – Fundamentals and Dynamic
Programming </span> - Codecademy.com</li>
<li>

<span id="course-name">JavaScript – Programming Basics, JS Apps
and Build Games </span> - Codecademy.com</li></ul>
<h2>Technical Skills</h2>
<p>
<ul>
<li>
<span id="course-name"><input placeholder="Course-name"></span>
</li>
<li>
<span id="course-name"><input
placeholder="Coursename"></span> </li>
<li>
<span id="course-name"><input
placeholder="Coursename"></span> </li></ul>
</p>
<h2>Certifications</h2>
<p>
<ul>
<li><input placeholder="Certificate"> </li>
<li><input placeholder="Certificate"></li>
<li><input placeholder="Certificate"></li></ul>
</p>
<h2>Other Information</h2>
<p>
<ul>
<li>
<span id="course-name">Expected Salary:<input
placeholder="Number"></span></li>
<li>
<span id="course-name">Area of Interest:</span><input
placeholder="Text"></li>
<li>
<span id="course-name">Joining Date:</span><input type="date"
id="start" name="trip-start"
value="YYYY-MM-DD"></li></ul>
<h2>Declaration</h2>
<p>I hereby declare that the details furnished above are true and
correct to the best of my knowledge and belief.</p>
<style>
    Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color:cornsilk; 
  background-image: url('perfect 2.jpg');
 
}  
    </style>
  <a href ="C:\Users\REDDY\Desktop\WDD\Miniproject Task 4\thank you.html">Submit</a>